input:invalid{
  border-color: red;
  border-style: double;
  outline: none;
}

.capitalize{
  text-transform: capitalize;
}

.section-header{
  float: left;
  margin: 7px 15px 0px 0px !important;
}

.attack-import {
  display: inline;
  cursor: pointer;
  margin-left: 15px;
}